.carousel {
  width: 100%;
  position: relative;
  padding-bottom: 45%;
}

.carousel .img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position:center;
  display: flex;
  flex-direction: column-reverse;
  color: white;
}
.carousel .img2 {
  position: absolute;
  width: 100%;
  height: 100%;

  background-size:cover;
  background-position:center;
  display: flex;
  flex-direction: column-reverse;
  color: white;
}

.carousel .img .btnCon,.carousel .img2 .btnCon{
  margin: 0 5% 2rem;
}
.carousel .img .headCon,.carousel .img2 .headCon{
  margin: 0 5% 2rem;
}

.carousel .img .btnCon,.carousel .img2 .btnCon{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}




@media (max-width:1200px) {
  .carousel {
    padding-bottom: 60%;
  }
  .carousel .img .btnCon{
    margin: 0 3% 1rem;
  }
  .carousel .img .headCon{
    margin: 0 3% 1rem;
  }
  .carousel .img .headCon h1{
    margin: 2px;
    padding: 2px;
  }

}


























.allSlider {
  display: flex;
  position: relative;
  bottom: 5px;
  z-index: 10;
  flex-wrap: wrap;
}
.allSlider > div {
  width: calc((100% - 126px) / 3);
  flex-grow: 1;
}
.devider1 {
  height: 5px;
  width: 25%;
  background-color: #f36f2b;
  z-index: 20;
  position: relative;
}
.carousel2 {
  display: flex;
  flex-wrap: wrap;
}
.carousel2 .left,
.carousel2 .right {
  width: 50%;
}
.carousel2 .left {
  height: 950px;
  color: black;
}
.carousel.newRation {
  padding-bottom: 950px;
}

@media (max-width: 1350px) {
  /* .carousel2 .left {
    height: 950px;
  }
  .carousel.newRation {
    padding-bottom: 950px;
  } */
}
@media (max-width: 1000px) {
  .carousel2 .left,
  .carousel2 .right {
    width: 100%;
  }
  /* .carousel2 .left {
    height: 550px;
  }
  .carousel.newRation {
    padding-bottom: 550px;
  } */

}
@media (max-width: 580px) {

  .allSlider > div {
    width: 100%;
  }
} 
/* @media (max-width: 450px) {

  .carousel2 .left {
    height: 600px;
  }
  .carousel.newRation {
    padding-bottom: 600px;
  }
}  */
/* @media (max-width: 380px) {

  .carousel2 .left {
    height: 800px;
  }
  .carousel.newRation {
    padding-bottom: 800px;
  }
}  */
