.carousel {
  width: 100%;
  position: relative;
  padding-bottom: 45%;
}

.carousel .img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position:center;
  display: flex;
  flex-direction: column-reverse;
  color: white;
}
.carousel .img2 {
  position: absolute;
  width: 100%;
  height: 100%;

  background-size:cover;
  background-position:center;
  display: flex;
  flex-direction: column-reverse;
  color: white;
}

.carousel .img .btnCon,.carousel .img2 .btnCon{
  margin: 0 5% 2rem;
}
.carousel .img .headCon,.carousel .img2 .headCon{
  margin: 0 5% 2rem;
}

.carousel .img .btnCon,.carousel .img2 .btnCon{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.carousel2{
  display: flex;
  flex-wrap: wrap;
}

/* ram ram */
.carousel.newRation {
  padding-bottom: 950px;
}

.carousel2 .left,
.carousel2 .right {
  width: 50%;
}


@media (max-width: 1000px) {
  .carousel2 .left,
  .carousel2 .right {
    width: 100%;
  }
}


@media (max-width:1200px) {
  .carousel {
    padding-bottom: 60%;
  }
  .carousel .img .btnCon{
    margin: 0 3% 1rem;
  }
  .carousel .img .headCon{
    margin: 0 3% 1rem;
  }
  .carousel .img .headCon h1{
    margin: 2px;
    padding: 2px;
  }
.devider1 {
  height: 5px;
  width: 25%;
  background-color: #f36f2b;
  position: relative;
}

}

